nav {
  background-color: bisque;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav input {
  width: 50%;
  margin: 0;
}
nav ul {
  display: flex;
  gap: 30px;
}
input {
  padding: 5px 10px;
  margin: 5px 0;
}
nav ul {
  display: flex;
  gap: 30px;
}

.create form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create {
  text-align: center;
}

.create input[type=text] {
  width: 70%;
}

.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.user-card {
  min-width: 450px;
  text-align: center;
  background: #bfdda3;
  border-radius: 10px;
  padding: 20px 0;
  margin: 15px 0;
  box-shadow: 0 10px 15px #0000002b;
}